* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", serif;
  /* font-family: "Poppins", serif; */
}

.award {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  min-height: 48px;
  text-align: center;
}
.award__p {
  font-size: 15px;
  color: #4b5563;
}
.award__images img {
  cursor: pointer;
}

.award__img {
  position: absolute;
  top: 14px;
  right: 150px;
}
.wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  min-height: 72px;
  margin: 0 auto;
}

a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

/* header start*/
.header {
  background-color: #00353b;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__nav a {
}
.header__card {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__menu img {
  width: 25px;
  height: 25px;
}
.header__menu a {
  font-size: 17px;
}
.header__btn {
  background-color: #fff;
  padding: 13px 25px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

/*header end*/

/* SECTION 1 START */
.main {
  background-color: #00353b;
}
.section {
  padding: 80px 0;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.content__info {
  width: 100%;
  min-height: 200px;
}
.content__h1 {
  font-family: "Poppins", serif;
  font-size: 56px;
  line-height: 60px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 30px;
}
.content__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 25px;
}
.content__button {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 50px;
}
.content__btn1 {
  background-color: #22a45a;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  padding: 13px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "DM Sans", serif;
}
.content__btn2 {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
}
.content__btn2 p {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
  font-family: "DM Sans", serif;
}
.content__btn2 img {
  width: 25px;
  height: 25px;
}
.content__video {
  position: relative;
}
#content__videos {
  width: 600px;
  height: 640px;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 16px;
}
.reviews__images {
  display: flex;
  align-items: center;
}

.icon-star-full,
.icon-star-half {
  font-size: 26px;
  color: #e0b420;
}
.reviews__rating__rat {
  display: block;
  align-items: center;
  gap: 5px;
  margin-bottom: 6px;
}
.reviews__rating p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}

.reviews__img {
  width: 48px;
  height: 48px;
}
.reviews__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-bg {
  position: absolute;
  bottom: 100px;
  left: -100px;
}
/* SECTION 1 END */
.main__title {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 330px;
  /* height: 392px; */
}

/* about START */
.about-bg {
  background-color: #ffffff;
}
.about {
  padding: 64px 256px;
  background-color: #fcd8ca;
  border-radius: 10px;
  text-align: center;
  transform: translateY(-50%);
}

.about__us {
  display: inline-block;
  background-color: #ffffff;
  color: #1f2937;
  border-radius: 10px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.about__h2 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #1f2937;
  margin-bottom: 30px;
}
.about__descr {
  color: #374151;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 40px;
}
.about__link {
  display: inline-block;
  background-color: #1f2937;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 13px 25px;
}
/* about END */
/* Premium start */
.container {
}
.premium {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding-bottom: 128px;
}

.premium-2 {
  flex-direction: row-reverse;
}
.premium__bg {
  background: url("img/human.png") center / cover no-repeat;
  height: 592px;
  width: 576px;
}

.premium__bg-2 {
  background: url("img/people.png") center / cover no-repeat;
  height: 592px;
  width: 576px;
}
.premium__content {
  max-width: 576px;
}
.premium__text {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #1f2937;
  margin-bottom: 30px;
}
.premium__p {
  font-size: 18px;
  line-height: 27px;
  color: #4b5563;
  margin-bottom: 40px;
}
.premium__p span {
  display: inline-block;
  width: 25px;
}
.premium__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.premium__link {
  cursor: pointer;
  background-color: #1f2937;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-radius: 8px;
  padding: 15px 25px;
  margin-right: 15px;
}
.premium__button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 15px 25px;
}
.premium__span1 {
  font-size: 18px;
}
.premium__span2 {
  font-size: 20px;
  font-weight: 700;
}
/* Premium end */
/* Popular start */
.popular__content {
  text-align: center;
}
.popular__content h5 {
  font-family: "Poppins", serif;
  color: #1f2937;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 30px;
}
.popular__link {
  display: inline-block;
  color: #1f2937;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: #fcd8ca;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 11px;
}
.popular__description {
  color: #4b5563;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 63px;
}

.popular__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 23px;
  padding-bottom: 128px;
}
.popular__card {
  background-color: #00353b;
  width: 405px;
  min-height: 500px;
  border-radius: 10px;
  padding: 32px 24px;
}
.popular__links {
  display: inline-block;
  color: #1f2937;
  background-color: #fff;
  font-size: 14px;
  line-height: 21px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.popular__webflow {
  display: block;
  font-family: "Poppins", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 15px;
}
.popular__money {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.popular__btn {
  color: #ffffff;
  background-color: #22a45a;
  font-size: 16px;
  line-height: 24px;
  padding: 9px 21px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 142px;
}
.popular__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.popular__img {
  width: 315px;
  height: 315px;
  position: absolute;
  bottom: -40px;
  right: -85px;
}
.popular__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
/* Popular end */

/* Student START */

.student__wrapper {
  display: flex;
  margin-bottom: 80px;
}
.student__content {
  width: 100%;
  min-height: 539px;
  background: #fcd8ca;
  border-radius: 10px 0 0 10px;
  padding: 64px;
}
.student__link {
  display: inline-block;
  color: #1f2937;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 11px;
}
.student__text {
  font-family: "Poppins", serif;
  color: #1f2937;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 30px;
}
.student__title {
  color: #374151;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 40px;
}
.student__btn {
  color: #ffffff;
  background-color: #1f2937;
  padding: 13px 25px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
}
.student__bg {
  width: 100%;
  min-height: 539px;
  background: url("img/twopeople.png") center / cover no-repeat;
}

.learn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}
.learn__images {
  position: relative;
  background-color: #158e5e;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 32px;
}
.learn__images img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.learn__card h5 {
  font-family: "Poppins", serif;
  color: #1f2937;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 24px;
}
.learn__text {
  max-width: 380px;
  color: #4b5563;
  font-size: 16px;
  line-height: 24px;
}

/* Student END */
